SENTRYCLI_CDNURL=http://cdn.npm.taobao.org/dist/sentry-cli
sentrycli_cdnurl=http://cdn.npm.taobao.org/dist/sentry-cli
sass_binary_site=http://npm.taobao.org/mirrors/node-sass/
registry=http://registry.npm.taobao.org